<nav class="navbar flex: 1 1 auto " style="background-color: #b41b03;" >
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="../assets/dexLogo.png" alt="DEX Logo" width="90" height="70"
        class=" align-text-center h1">  
    </a>
    <p class="fw-lighter fs-3 text-light" routerLink="/home"> Home </p>
    <p class="fw-lighter fs-3 text-light" routerLink="/profile" > Profile  </p>
    <p class="fw-lighter fs-3 text-light" routerLink="/admin"> Admin Dashboard </p>
    <p class="fw-lighter fs-3 text-light" routerLink="/home"> Log Out </p>

  </div>
</nav>

<router-outlet></router-outlet>